# ============================================
# SERVER
# ============================================
SERVER_ADDRESS=0.0.0.0:8080
PRODUCTION=false
LOG_LEVEL=debug

# ============================================
# DATABASE
# ============================================
DB_SOURCE=postgres://root:secret@postgres:5432/blog_db?sslmode=disable

# ============================================
# AUTH
# ============================================
TOKEN_SYMMETRIC_KEY=12345678901234567890123456789012
ACCESS_TOKEN_DURATION=15m
REFRESH_TOKEN_DURATION=720h
VERIFICATION_CODE_DURATION=10m


# Google OAuth
# GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com
GOOGLE_CLIENT_ID=google_key.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=********************

# Session Secret (must be at least 32 bytes for security)
SESSION_SECRET=12345678901234567890123456789012

# Apple OAuth
APPLE_CLIENT_ID=com.your.app.bundle.id
APPLE_CLIENT_SECRET=your_apple_client_secret
APPLE_TEAM_ID=your_apple_team_id
APPLE_KEY_ID=your_apple_key_id
APPLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nMIGTAgEAMBMGByqGSM49AgEGCCqGSM49AwEHBHkwdwIBAQQg...\n-----END PRIVATE KEY-----"

# Callback URL
SOCIAL_CALLBACK_URL=http://localhost:8080/api/v1/social-auth/google/callback

# ============================================
# REDIS
# ============================================
REDIS_ADDR=redis:6379
REDISHOST=redis
REDISPORT=6379
REDISUSER=
REDISPASSWORD=

# ============================================
# API ACCESS
# ============================================
API_ACCESS_KEY=dbid9rhd9sunee8jhr9udheo

# ============================================
# EMAIL CONFIG
# ============================================
USE_MAILPIT=true
# For local development (outside Docker)
MAILPIT_HOST=127.0.0.1
MAILPIT_PORT=1025
EMAIL_FROM=test@blog.local

EMAIL_PROVIDER=

# Mailtrap
MAILTRAP_URL=https://send.api.mailtrap.io/api/send
MAILTRAP_AUTH_TOKEN=******* mailtrap auth token*******

# SendGrid
SENDGRID_URL=https://api.sendgrid.com/v3/mail/send
SENDGRID_AUTH_TOKEN=your_sendgrid_token_here

DEFAULT_FROM_EMAIL=no-reply@blog.com
EMAIL_SUBJECT_PREFIX=[blog]

# ============================================
# SMS CONFIG
# ============================================
SMSPROVIDER=termii

# Termii
TERMII_API_KEY=your_termii_api_key
SENDER=blog

# ============================================
# TWILIO CONFIG
# ============================================
TWILIO_ACCOUNT_SID=your_twilio_sid
TWILIO_AUTH_TOKEN=your_twilio_auth_token
TWILIO_PHONE_NUMBER=+1234567890
TWILIO_MESSAGING_SERVICE_SID=your_twilio_service_sid

# ============================================
# PAYMENT CONFIG
# ============================================
TEST_PAYMENT=true
PAYMENT_PROVIDER=paystack

# Flutterwave
FLUTTERWAVE_SECRET_KEY=your_flutterwave_secret
FLUTTERWAVE_BASE_URL=https://api.flutterwave.com/v3

# Paystack
PAYSTACK_SECRET_KEY=your_paystack_secret
PAYSTACK_BASE_URL=https://api.paystack.co